In [1]:
import pandas as pd                                           #Importing pandas library 
df1=pd.read_csv('Beginning.csv')                                #df1 is the first dataframe of our Beginning(Start)dataset
df2=pd.read_csv('End.csv')                                       #df2 is the second dataframe of our End(Final)dataset
df1.head(1)

,Incedents,Date,Time,Location,Operator,Flight #,Route,AC Type,Regestration,cn / In,Aboard,Fatalities,Ground,Summry
0,1,17/09/1908,1718,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fl..."

In [2]:
df1.dtypes

Incedents        int64
Date            object
Time            object
Location        object
Operator        object
Flight #        object
Route           object
AC Type         object
Regestration    object
cn / In         object
Aboard          object
Fatalities      object
Ground          object
Summry          object
dtype: object

In [3]:
df1.isnull().sum() #Indentifying the total null values(NaN or empty) in our Beginning dataset

Incedents          0
Date               0
Time            1504
Location           5
Operator          10
Flight #        3681
Route            763
AC Type           13
Regestration     272
cn / In          667
Aboard            17
Fatalities         8
Ground            44
Summry            59
dtype: int64

In [4]:
df1.isnull().sum()/5014*100

Incedents        0.000000
Date             0.000000
Time            29.996011
Location         0.099721
Operator         0.199442
Flight #        73.414440
Route           15.217391
AC Type          0.259274
Regestration     5.424811
cn / In         13.302752
Aboard           0.339051
Fatalities       0.159553
Ground           0.877543
Summry           1.176705
dtype: float64

In [5]:
df1 = df1.drop(labels='Flight #', axis=1) #Droping the "Flight#" due to its extreme null percentage
df1.head(1) #Displaying the first 5 rows of our Beginning dataset

,Incedents,Date,Time,Location,Operator,Route,AC Type,Regestration,cn / In,Aboard,Fatalities,Ground,Summry
0,1,17/09/1908,1718,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fl..."

In [6]:
df1=df1.rename(columns={"Summry":"Summary","Fatalities":"Death"}) #Renaming one of the columns due to its misspelling
df1.head(1) #Displaying the first 5 rows of our Beginning dataset

,Incedents,Date,Time,Location,Operator,Route,AC Type,Regestration,cn / In,Aboard,Death,Ground,Summary
0,1,17/09/1908,1718,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fl..."

In [7]:
df1.dtypes # Presenting the data types of each column in our Beginning dataset

Incedents        int64
Date            object
Time            object
Location        object
Operator        object
Route           object
AC Type         object
Regestration    object
cn / In         object
Aboard          object
Death           object
Ground          object
Summary         object
dtype: object

In [8]:
df1['Date']=pd.to_datetime(df2['Date']) #Converting the "Date" column in the End datset into python date rather from object
df1.head(1) #Showing the "Date" coulmn only

,Incedents,Date,Time,Location,Operator,Route,AC Type,Regestration,cn / In,Aboard,Death,Ground,Summary
0,1,1908-09-17,1718,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fl..."

In [9]:
df1['Date']=df1['Date'].dt.strftime('%d/%b/%Y') #Changing the "Date" format from('%Y-%m-%d') into ('%d/%b/%Y')
df1.head(1)

,Incedents,Date,Time,Location,Operator,Route,AC Type,Regestration,cn / In,Aboard,Death,Ground,Summary
0,1,17/Sep/1908,1718,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fl..."

In [10]:
df1.info() #Indentifying the information about our Beginning dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5014 entries, 0 to 5013
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Incedents     5014 non-null   int64
 1   Date          5014 non-null   object
 2   Time          3510 non-null   object
 3   Location      5009 non-null   object
 4   Operator      5004 non-null   object
 5   Route         4251 non-null   object
 6   AC Type       5001 non-null   object
 7   Regestration  4742 non-null   object
 8   cn / In       4347 non-null   object
 9   Aboard        4997 non-null   object
 10  Death         5006 non-null   object
 11  Ground        4970 non-null   object
 12  Summary       4955 non-null   object
dtypes: int64(1), object(12)
memory usage: 509.4+ KB

In [11]:
df1.dtypes                         # Presenting the data types of each column in our Beginning dataset

Incedents        int64
Date            object
Time            object
Location        object
Operator        object
Route           object
AC Type         object
Regestration    object
cn / In         object
Aboard          object
Death           object
Ground          object
Summary         object
dtype: object

In [12]:
df1.to_csv('Start.csv') # Creating a new csv file called 'Start' of our analyzed  Beginning dataset

In [13]:
df2.head(1) #Displaying the End dataset

,Incedents,Date,Time,Location,Operator,Route,AC Type,Registration,cn / In,Aboard,Fatalities,Ground,Summary
0,1,17/09/1908,5:18 PM,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,SC-1,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fl..."

In [14]:
df2.isnull().sum()/5014*100 #Indentifying the null values(NaN or empty) in our End dataset

Incedents        0.000000
Date             0.000000
Time            24.152373
Location         0.079777
Operator         0.119665
Route           10.071799
AC Type          0.099721
Registration     3.769446
cn / In         12.405265
Aboard           0.239330
Fatalities       0.159553
Ground           0.000000
Summary          0.917431
dtype: float64

In [15]:
df2.info() # Indentifying the information about our End dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5014 entries, 0 to 5013
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Incedents     5014 non-null   int64
 1   Date          5014 non-null   object
 2   Time          3803 non-null   object
 3   Location      5010 non-null   object
 4   Operator      5008 non-null   object
 5   Route         4509 non-null   object
 6   AC Type       5009 non-null   object
 7   Registration  4825 non-null   object
 8   cn / In       4392 non-null   object
 9   Aboard        5002 non-null   object
 10  Fatalities    5006 non-null   object
 11  Ground        5014 non-null   object
 12  Summary       4968 non-null   object
dtypes: int64(1), object(12)
memory usage: 509.4+ KB

In [16]:
df2.dtypes # Presenting the data types of each column in our End dataset

Incedents        int64
Date            object
Time            object
Location        object
Operator        object
Route           object
AC Type         object
Registration    object
cn / In         object
Aboard          object
Fatalities      object
Ground          object
Summary         object
dtype: object

In [17]:
df2['Date']=pd.to_datetime(df2['Date']) #Converting the "Date" column in the End datset into python date rather from object
df2.head(1) #Showing the "Date" coulmn only

,Incedents,Date,Time,Location,Operator,Route,AC Type,Registration,cn / In,Aboard,Fatalities,Ground,Summary
0,1,1908-09-17,5:18 PM,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,SC-1,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fl..."

In [18]:
df2.head(1) #Displaying the first 5 rows of our End dataset

,Incedents,Date,Time,Location,Operator,Route,AC Type,Registration,cn / In,Aboard,Fatalities,Ground,Summary
0,1,1908-09-17,5:18 PM,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,SC-1,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fl..."

In [19]:
df2['Date']=df2['Date'].dt.strftime('%d/%b/%Y') #Changing the "Date" format from('%Y-%m-%d') into ('%d/%b/%Y')

In [20]:
df2.head(1) #Displaying the first row of our End dataset

,Incedents,Date,Time,Location,Operator,Route,AC Type,Registration,cn / In,Aboard,Fatalities,Ground,Summary
0,1,17/Sep/1908,5:18 PM,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,SC-1,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fl..."

In [21]:
df2=df2.rename(columns={"Fatalities":"Death"}) #Renaming one of the columns to be more understandable 
df1.head(1) #Displaying the first 5 rows of our Beginning dataset

,Incedents,Date,Time,Location,Operator,Route,AC Type,Regestration,cn / In,Aboard,Death,Ground,Summary
0,1,17/Sep/1908,1718,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fl..."

In [22]:
df2.to_csv('Final.csv')# Creating a new csv file called 'Final' of our Final dataset that is going to be used for the next phase

In [23]:
df2.isnull().sum()

Incedents          0
Date               0
Time            1211
Location           4
Operator           6
Route            505
AC Type            5
Registration     189
cn / In          622
Aboard            12
Death              8
Ground             0
Summary           46
dtype: int64

In [25]:
df2.isnull().sum()/5014*100

Incedents        0.000000
Date             0.000000
Time            24.152373
Location         0.079777
Operator         0.119665
Route           10.071799
AC Type          0.099721
Registration     3.769446
cn / In         12.405265
Aboard           0.239330
Death            0.159553
Ground           0.000000
Summary          0.917431
dtype: float64